body {
    background: #45a6de;
}

a {
    text-decoration: none;
    padding: 0px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}

.hrader__inner {
    display: flex;
    justify-content: space-around;
}

.nav__link {
    color: #fff;
    padding-left: 25px;
    font-size: 26px;
}

.nav__link:nth-child(1) {
    opacity: 70%;
}

.hrader__text h2{
    font-size: 50px;
    margin-top: 30px;
}

.hrader__text h3 {
    margin-top: 25px;
    font-size: 25px;
}

.hrader__icone {
    margin-top: 20px;
}

.link {
    padding-left: 20px;
}